
.heading
{
width: 100%;
text-align: center;
}
.heading h3{
    display: inline;
}

.heading button{
    float: right;
    border: 1px solid white;
}

#start ,#status, #restart
{
font-size: 22px;
}

.modal-dialog
{
    width: 70%;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
}
h4
{
   background-color: rgb(51, 82, 102);
   color:white;
   line-height: 2;
}
canvas 
  {
      border:3px solid rgb(57, 104, 136);
      border-radius: 20px;
      box-shadow:  10px 10px 10px rgb(57, 104, 136);
  }